.card-body
    .col-md-12
        br 
        h7 Schulname | Plz | Ort          
    .col-md-12 
        h5.text-info #{school._id} | #{school.name} | #{school.plz} | #{school.ort}
        a.btn.btn-info.text-white(href='/schools/edit1/'+ school._id) Stammdaten ändern
        br
        br
    .col-md-12
        br 
        h7 Adminschlüssel | Lehrerschlüssel | Schülerschlüssel          
    .col-md-12 
        .box
            a.text-info(href='/schools/edit_school_a_s/' + school._id, role='button') | #{school.admin_schluessel} &nbsp;
        .box
            a.text-info(href='/schools/edit_school_l_s/' + school._id, role='button') | #{school.lehrer_schluessel} &nbsp;
        .box
            a.text-info(href='/schools/edit_school_s_s/'+ school._id , role='button') | #{school.schueler_schluessel} &nbsp; 
        br
        br
    .form-group.col-md-12                                   
        each stamm, i in stamms
            .box
                a.text-info(href='/stamms/' + stamm._id, role='button') | #{stamm.name} &nbsp;
        div(style='clear:both;') 
        a.btn.btn-info.text-white(href='/stamms/add_single_stamm') Klassen hinzufügen 
        br
        br
    .form-group.col-md-12                                   
        each disziplin, i in disziplins
            .box
                a.text-info(href='/disziplins/' + disziplin._id, role='button') | #{disziplin.name} &nbsp;
        div(style='clear:both;') 
        a.btn.btn-info.text-white(href='/disziplins/add_single_disziplin') Unterrichtsfach hinzufügen
        br
        br
    .form-group.col-md-12                                   
        each stammverbund, i in stammverbunds
            .box
                a.text-info(href='/stammverbunds/' + stammverbund._id, role='button') | #{stammverbund.name} &nbsp;
        div(style='clear:both;') 
        a.btn.btn-info.text-white(href='/stammverbunds/add_stammverbund') Klassenverbund hinzufügen
        br
        br
    .form-group.col-md-12                                   
        each group, i in groups
            .box
                a.text-info(href='/groups/' + group._id, role='button') | #{group.name} &nbsp;
        div(style='clear:both;') 
        a.btn.btn-info.text-white(href='/groups/add_group') Schülergruppe hinzufügen
        br
        br