extends layout

block content
            form#reused_form.montform(method='POST', enctype='multipart/form-data' action='/articles/add_neu')
                .card.border.border-success
                    .card-header.bg-success.text-white
                        | Auftrag für ausgewählte SuS
                    .card-body
                        #form-transition-group.my-margin-top
                                .form-row
                                    .form-group.col-md-12                                   
                                        .container-fluid(style='margin-left:10px; border:none !important;')
                                            .row.justify-content-start
                                                each schueler, i in schuelers
                                                    .col-3(style='margin-bottom:0px; border:none !important;')
                                                        input#defaultCheck1.form-check-input(type='checkbox', value= schueler._id,  name='schuelers[]')
                                                        input.form-control.invisible(type='text',  name='id[]', value= schueler._id)
                                                        label.form-check-label(for='defaultCheck1')
                                                        | #{schueler.name}                                                         
                                    .form-group.col-md-12
                                        br
                                        input#validationServer01.form-control(type='text', placeholder='Titel der Hausarbeit',  required='' name='title')
                                        .valid-feedback
                                .form-row.my-margin-top                                     
                                    .form-group.col-md-8
                                        label Für das Fach                                 
                                        select#validationServer01.form-control.custom-select.form-control(name='fach', type=text,  required='', placeholder='Wähle eine Klasse')
                                            option(selected='')
                                            option * Allgemein | Orga
                                            option Mathematik
                                            option Deutsch
                                            option Englisch
                                            option LB Gesellschaft 
                                            option LB Natur
                                            option Sport
                                            option Schach
                                            option Informatik | ITG
                                            option Kunst
                                            option Musik
                                            option Darstellendes Spiel
                                            option Kochen
                                            option Garten
                                            option Arbeit/Beruf
                                            option Philosophie | Religion
                                            option Spanisch
                                            option Romanes
                                            option Französisch 
                                            option Türkisch
                                            option Portugiesisch 
                                            option Biologie
                                            option Chemie
                                            option Physik
                                            option Geschichte
                                            option Geographie
                                            option PGW
                                            option Seminar
                                            option Glück
                                            option Sonstiges Fach / Kurs 
                                    .form-group.col-md-4 
                                        label Abgabetermin (Standard: 3 Tage später)
                                        input#datepicker.form-control(type=text, name='termin', value=abgabe+ ' 16 Uhr', required='',  readonly='readonly', style='background:white;')
                                .form-row
                                        label Auftrag (zum Bild hochzuladen: erst in das Eingabefeld klicken und dann auf das Bild-Symbol)
                                        textarea#area2.form-control.is-valid(name='body', type=text, placeholder='Arbeitsauftrag')
                                        input.form-control.invisible(type='text',  name='klaas', value=klasse)
                                .custom-file.my-margin-top
                                    input#inputGroupFile02.custom-file-input(type='file' name='files', multiple='')
                                    label.custom-file-label(for='inputGroupFile02') (mehrere) hochladen                            
                                input#geht_ab.btn.btn-success.my-margin-top.bg-success.text-white.float-right(type='submit', value='Auftrag veröffentlichen')
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
            script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
            script(src='/js/add_article.js')  
            script(src='/js/nic_edit.js')  
            script(type='text/javascript').
                bkLib.onDomLoaded(nicEditors.allTextAreas) 
                new nicEditor({buttonList : ['bold','italic','underline','left','center','right','justify','ol','ul','superscript','upload','fontFormat','fontFamily','upload','','','','','','','','','','','','','']}).panelInstance('area2');
            link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
            link(rel='stylesheet', href='/resources/demos/style.css')
            script(src='https://code.jquery.com/jquery-1.12.4.js')
            script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js') 
            script(type='text/javascript', src='http://jquery-ui.googlecode.com/svn/tags/latest/ui/minified/i18n/jquery-ui-i18n.min.js')
            script.
                $( function() {
                $( "#datepicker" ).datepicker({
                prevText: '&#x3c;zurück', prevStatus: '',
                prevJumpText: '&#x3c;&#x3c;', prevJumpStatus: '',
                nextText: 'Vor&#x3e;', nextStatus: '',
                nextJumpText: '&#x3e;&#x3e;', nextJumpStatus: '',
                currentText: 'heute', currentStatus: '',
                todayText: 'heute', todayStatus: '',
                clearText: '-', clearStatus: '',
                closeText: 'schließen', closeStatus: '',
                monthNames: ['Januar','Februar','März','April','Mai','Juni',
                'Juli','August','September','Oktober','November','Dezember'],
                monthNamesShort: ['Jan','Feb','Mär','Apr','Mai','Jun',
                'Jul','Aug','Sep','Okt','Nov','Dez'],
                dayNames: ['Sonntag','Montag','Dienstag','Mittwoch','Donnerstag','Freitag','Samstag'],
                dayNamesShort: ['So','Mo','Di','Mi','Do','Fr','Sa'],
                dayNamesMin: ['So','Mo','Di','Mi','Do','Fr','Sa'],
                showMonthAfterYear: false,
                buttonImage: 'media/img/calendar.png',
                buttonImageOnly: true,
                dateFormat:'dd.mm.yy' + ' 16 Uhr'
                }
                );
                });