extend layout



block content
    .container.padding_null
        .row.h-100.d-flex.justify-content-center
            .col-12
                .card.border.border-success
                    .card-header
                        ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
                            li.nav-item
                                a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') #{article.klasse}  |  #{article.fach}  |  #{article.lehrer.name}
                    .card-body.padding_null
                        .tab-content.mt-3.my-min-height
                            #description.tab-pane.active(role='tabpanel')
                                p.card-text
                                    .col-md-12
                                        h5.color-red Bitte bis #{article.termin} abgeben.
                                        h5#invisible #{x}
                                        h6#hier-kommt-was-rein
                        if user
                            if user.id == article.author
                                a.btn.btn-success.text-white.button-margin(href='/articles/edit/'+ article._id) bearbeiten
                                a.btn.btn-danger.delete-article.text-white.button-margin(href='#', data-id=article._id) löschen
    if user.type == 'schueler'
        .container.padding_null
            .row.h-100.d-flex.justify-content-center
                .col-12
                    .card.border.border-success
                        .card-header
                            ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
                                li.nav-item
                                    a.nav-link.active(href='#description2', role='tab', aria-controls='description2', aria-selected='true') Hausarbeit schreiben
                        .card-body.padding_null
                                #description2.tab-pane.active(role='tabpanel')
                                    p.card-text
                                        .col-md-12
                                            form#reused_form.montform(method='POST', enctype='multipart/form-data' action='/articles/add_hausarbeit')
                                                #form-transition-group.my-margin-top
                                                    .form-row
                                                        input.form-control.invisible(type='text', placeholder='articleId',  name='article_id', value= article._id)
                                                    .form-row
                                                        textarea#area2.form-control.is-valid(name='body', type=text, placeholder='Arbeitsauftrag')
                                                    .form-row.my-margin-top
                                                        .form-group.col-md-4 
                                                            label Hattest du bei der Arbeit Hilfe?                                 
                                                            select#validationServer01.form-control.custom-select.form-control(name='reflexion_hilfe', type=text,  required='', placeholder='Wähle eine Klasse')
                                                                option(selected='')
                                                                option Ja, habe im Internet Hilfe gefunden
                                                                option Ja, von der Familie/ von Freunden
                                                                option Nein, alles alleine gemacht
                                                            .valid-feedback                                          
                                                        .form-group.col-md-4 
                                                            label War es schwer?                                
                                                            select#validationServer01.form-control.custom-select.form-control(name='reflexion_schwer', type=text,  required='', placeholder='Wähle eine Klasse')
                                                                option(selected='')
                                                                option Nein, zu leicht
                                                                option Genau richtig
                                                                option Etwas zu schwer
                                                                option Viel zu schwer                                                            
                                                        .form-group.col-md-4 
                                                            label Hattest du genug Zeit?                                
                                                            select#validationServer01.form-control.custom-select.form-control(name='reflexion_zeit', type=text,  required='', placeholder='Wähle eine Klasse')
                                                                option(selected='')
                                                                option Ja
                                                                option Musste, mich schon ziemlich beeilen
                                                                option Nein, zu wenig Zeit                                              
                                                    input#geht_ab.btn.btn-success.my-margin-top.bg-success.text-white.float-right.my-margin-bottom(type='submit', value='Hausarbeit abgeben')
                                                    p.my-margin-top.bold-green
                                                        | Solange deine Arbeit noch nicht überprüft wurde, kannst du sie noch ändern.
            script(src='/js/article2.js')
    script(src='/js/nic_edit.js')
    script(type='text/javascript').
        bkLib.onDomLoaded(nicEditors.allTextAreas) 
        new nicEditor({buttonList : ['bold','italic','underline','left','center','right','justify','ol','ul','superscript','upload','fontFormat','fontFamily','upload','','','','','','','','','','','','','']}).panelInstance('area2');
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/article.js')