extends layout

block content
            form#reused_form.montform(method='POST',  action='/articles/edit/' + article._id)
                .card.border.border-success
                    .card-header.bg-success.text-white
                        | Hausarbeit ändern
                    .card-body
                        #form-transition-group.my-margin-top
                                .form-row
                                    .form-group.col-md-12
                                        input#validationServer01.form-control(type='text', placeholder='Titel der Hausarbeit',  required='',  name='title', value=article.title)
                                        .valid-feedback
                                .form-row.my-margin-top
                                    .form-group.col-md-4 
                                        label Für die Klasse                                  
                                        select#validationServer01.form-control.custom-select.form-control(name='klasse', type=text,  required='', placeholder='Wähle eine Klasse')
                                            option(selected='') #{article.klasse}
                                            option St. Pauli 5a
                                            option St. Pauli 5b 
                                            option St. Pauli 6a
                                            option St. Pauli 6b 
                                            option St. Pauli 7a
                                            option St. Pauli 7b
                                            option St. Pauli LB/WS 5-7                                            
                                            option St. Pauli 8a
                                            option St. Pauli 8b 
                                            option St. Pauli 9a
                                            option St. Pauli 9b 
                                            option St. Pauli LB/WS 8-9                                            
                                            option St. Pauli 10a
                                            option St. Pauli 10b 
                                            option Neustadt 5a
                                            option Neustadt 5b
                                            option Neustadt 5c
                                            option Neustadt 6a 
                                            option Neustadt 6b
                                            option Neustadt 7a
                                            option Neustadt 7b
                                            option Neustadt 7c
                                            option Neustadt 8a
                                            option Neustadt 8b
                                            option Neustadt 8c
                                            option Neustadt 8d
                                            option Neustadt VK 7/8
                                            option Neustadt 9a
                                            option Neustadt 9b
                                            option Neustadt 9c
                                            option Neustadt VK 9
                                            option Neustadt 10a
                                            option Neustadt 10b
                                            option Neustadt 10c
                                            option Neustadt 10d
                                            option Neustadt VK 10
                                            option TestKlasse 1
                                            option TestKlasse 2
                                            option Testklasse 3
                                        .valid-feedback                                          
                                    .form-group.col-md-4 
                                        label Für das Fach                                 
                                        select#validationServer01.form-control.custom-select.form-control(name='fach', type=text,  required='', placeholder='Wähle eine Klasse')
                                            option(selected='') #{article.fach}
                                            option 'Allgemein | Orga'
                                            option Mathematik
                                            option Deutsch
                                            option Englisch
                                            option Gesellschaft 
                                            option Natur
                                            option Sport
                                            option Schach
                                            option Informatik | ITG
                                            option Kunst
                                            option Musik
                                            option Darstellendes Spiel
                                            option Kochen
                                            option Garten
                                            option Arbeit/Beruf
                                            option Philosophie | Religion
                                            option Spanisch
                                            option Romanes
                                            option Französisch 
                                            option Türkisch 
                                            option Sonstiges Fach 
                                    .form-group.col-md-4 
                                        label Abgabetermin (Tag / Uhrzeit)
                                        input#datepicker.form-control(type=text, name='termin', value=article.termin,  readonly='readonly', style='background:white;', required='')
                                .form-row
                                        label Auftrag
                                        textarea#area2.form-control.is-valid(name='body', type=text, placeholder='Arbeitsauftrag')=article.body
                                    
                                input.btn.btn-success.my-margin-top.bg-success.text-white.float-right(type='submit', value='Ok')
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
            script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
            script(src='/js/add_article.js')  
            script(src='/js/nic_edit.js')  
            script(type='text/javascript').
                bkLib.onDomLoaded(nicEditors.allTextAreas) 
                new nicEditor({buttonList : ['bold','italic','underline','left','center','right','justify','ol','ul','superscript','upload','fontFormat','fontFamily','upload','','','','','','','','','','','','','']}).panelInstance('area2');
            link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
            link(rel='stylesheet', href='/resources/demos/style.css')
            script(src='https://code.jquery.com/jquery-1.12.4.js')
            script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js') 
            script(type='text/javascript', src='http://jquery-ui.googlecode.com/svn/tags/latest/ui/minified/i18n/jquery-ui-i18n.min.js')
            script.
                $( function() {
                $( "#datepicker" ).datepicker({
                prevText: '&#x3c;zurück', prevStatus: '',
                prevJumpText: '&#x3c;&#x3c;', prevJumpStatus: '',
                nextText: 'Vor&#x3e;', nextStatus: '',
                nextJumpText: '&#x3e;&#x3e;', nextJumpStatus: '',
                currentText: 'heute', currentStatus: '',
                todayText: 'heute', todayStatus: '',
                clearText: '-', clearStatus: '',
                closeText: 'schließen', closeStatus: '',
                monthNames: ['Januar','Februar','März','April','Mai','Juni',
                'Juli','August','September','Oktober','November','Dezember'],
                monthNamesShort: ['Jan','Feb','Mär','Apr','Mai','Jun',
                'Jul','Aug','Sep','Okt','Nov','Dez'],
                dayNames: ['Sonntag','Montag','Dienstag','Mittwoch','Donnerstag','Freitag','Samstag'],
                dayNamesShort: ['So','Mo','Di','Mi','Do','Fr','Sa'],
                dayNamesMin: ['So','Mo','Di','Mi','Do','Fr','Sa'],
                showMonthAfterYear: false,
                buttonImage: 'media/img/calendar.png',
                buttonImageOnly: true,
                dateFormat:'dd.mm.yy' + ' 16 Uhr'
                }
                );
                });