extend layout



block content
    .container.padding_null
        .row.h-100.d-flex.justify-content-center
            .col-12
                .card.border.border-success
                    .card-header
                        ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
                            li.nav-item
                                a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') #{hausarbeit.article.klasse} - #{hausarbeit.article.fach} - #{hausarbeit.article.created}
                    .card-body.padding_null
                        .tab-content.mt-3.my-min-height
                            #description.tab-pane.active(role='tabpanel')
                                p.card-text
                                    .col-md-12
                                        h5.color-red Bitte bis #{hausarbeit.article.termin} abgeben.
                                        h5#invisible #{hausarbeit.article.body}
                                        h6#hier-kommt-was-rein
    if user.type == 'schueler'
        .container.padding_null
            .row.h-100.d-flex.justify-content-center
                .col-12
                    .card.border.border-success
                        .card-body
                            h5.card-text Deine Hausarbeit wurde überprüft
                            br 
                            p.card-text
                                | Du kannst zu jeder Hausarbeit einen "Lehrerkommentar", ein "ok", eine "Note" oder 0 - 5 "PauliDollar" (Leistungspunkte) bekommen. 
                            p.card-text
                                | Was du davon bekommst, entscheidet die Lehrkraft. Wie viele Dollar du insgesammt gesammelt hast, siehst du oben links, neben deinem Namen.
                            .card-deck
                                .card.bg-primary.text-white
                                    .card-body.text-center
                                        p.card-text Lehrerkommentar
                                        if hausarbeit.ergebnis_text != ''
                                            p.card-text.norm2 "#{hausarbeit.ergebnis_text}"
                                        else
                                            p.card-text.kursiv (Die Lehrkraft hat keinen Kommentar zu deiner Hausarbeit geschrieben.)
                                .card.bg-warning
                                    .card-body.text-center
                                        p.card-text Arbeit ok?
                                        if hausarbeit.ergebnis_ok != 'keine Auswahl'
                                            p.card-text.norm #{hausarbeit.ergebnis_ok}
                                        else
                                            p.card-text.kursiv (Es wurde kein "ok" oder "nicht ok" für deine Hausarbeit gegeben)
                                .card.bg-danger.text-white
                                    .card-body.text-center
                                        p.card-text Note
                                        if hausarbeit.ergebnis_note != 'keine Auswahl'
                                            p.card-text.norm #{hausarbeit.ergebnis_note}
                                        else
                                            p.card-text.kursiv (Es wurde keine Note für deine Hausarbeit gegeben)
                                .card.bg-success.text-white
                                    .card-body.text-center
                                        p.card-text PauliDollar
                                        if hausarbeit.ergebnis_dollar != 'keine Auswahl'
                                            p.card-text.norm #{hausarbeit.ergebnis_dollar}$
                                        else
                                            p.card-text.kursiv (Es wurden keine PauliDollar für deine Hausarbeit vergeben)

            script(src='/js/article2.js')
    script(src='/js/nic_edit.js')
    script(type='text/javascript').
        bkLib.onDomLoaded(nicEditors.allTextAreas) 
        new nicEditor({buttonList : ['bold','italic','underline','left','center','right','justify','ol','ul','superscript','upload','fontFormat','fontFamily','upload','','','','','','','','','','','','','']}).panelInstance('area2');
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/article.js')