extends layout

block content
    if !user
      .shadow.p-3.mb-5.bg-white.rounded
        .card
          .card-header.bold
            |  Hallo Stadtteilschule am Hafen.
          .card-body
            blockquote.blockquote.mb-0
              p
                | Hier findet ihr ab jetzt eure Hausaufgaben. Registriere dich und schon gehts los :)
              footer.blockquote-footer Herr Akgün
    else
      if user.type == 'lehrer'
        .container.padding_null
          .row.h-100.d-flex.justify-content-center
            .col-12
              .card.border.bg-custom-1
                .card-body.padding_null
                  .tab-content.mt-3.my-min-height
                    #description.tab-pane.active(role='tabpanel')
                      p.card-text
                        if length !=0
                          .col-md-4.col-6.float-left
                            h4.card-title #{user.name}s Aufträge
                          .col-md-4.col-6.float-right
                            input#inputFilter.form-control.my-margin-bottom-right(type='text', placeholder='suche..')
                          table#customerTable.table.row-border.hover.table-sm.no-border(cellspacing='0', width='100%')
                            thead
                              tr               
                                th.th-sm
                                  | HAs
                                th.th-sm
                                  | Für                                
                                th.th-sm
                                  | Info | Frist
                                th.th-sm
                                  | Doc
                            tbody
                              each my_article, i in my_articles
                                tr
                                  td.align-middle
                                    if my_article.ha_gelb != '0' &&  my_article.ha_gelb != 'NaN'
                                      .text-warning.font-weight-bold
                                        | #{my_article.ha_gelb} 
                                    else
                                      .font-weight-bold.text-white
                                        | #{my_article.ha_gelb}
                                    a.btn.btn-outline-primary.btn-circle.btn-lg(href="/articles/article_schuelers/"+my_article._id, role='button')
                                      svg.bi.bi-people(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd', d='M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.995-.944v-.002.002zM7.022 13h7.956a.274.274 0 00.014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 00.022.004zm7.973.056v-.002.002zM11 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0zM6.936 9.28a5.88 5.88 0 00-1.23-.247A7.35 7.35 0 005 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 015 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 116 0 3 3 0 01-6 0zm3-2a2 2 0 100 4 2 2 0 000-4z', clip-rule='evenodd')  
                                    if my_article.ha_gruen != '0' && my_article.ha_gruen != 'NaN'
                                      .text-success.font-weight-bold
                                        | #{my_article.ha_gruen} 
                                    else
                                      .font-weight-bold.text-white
                                        | #{my_article.ha_gruen}
                                  td.align-middle
                                    if my_article.schuelers.length == 0 && !my_article.klasse
                                      .box.italic
                                        | * niemanden ausgewählt
                                    each schueler, i in my_article.schuelers
                                      if i == 0
                                        .box
                                          a(href='/articles/schueler/' +schueler._id, role='button')  #{schueler.name}&nbsp;
                                      else
                                        .box
                                          a(href='/articles/schueler/' +schueler._id, role='button') | #{schueler.name}&nbsp;
                                    .box
                                      | #{my_article.klasse} 
                                  td
                                    .box
                                      | #{my_article.fach} |
                                    .box
                                      | &nbsp;#{my_article.title} | 
                                    .box
                                        strong &nbsp;#{my_article.termin}  
                                  td.align-middle
                                    if user.type == 'lehrer'
                                      a.btn.btn-outline-secondary(href="/articles/"+my_article._id, role='button')
                                        svg.bi.bi-file-richtext(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                          path(fill-rule='evenodd', d='M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z', clip-rule='evenodd')
                                          path(fill-rule='evenodd', d='M4.5 11.5A.5.5 0 015 11h3a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 9h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm1.639-3.708l1.33.886 1.854-1.855a.25.25 0 01.289-.047l1.888.974V7.5a.5.5 0 01-.5.5H5a.5.5 0 01-.5-.5V7s1.54-1.274 1.639-1.208zM6.25 5a.75.75 0 100-1.5.75.75 0 000 1.5z', clip-rule='evenodd')                            
                        else
                          .col-md-12.col-12.float-right.padding_null
                              h4  Erstelle deinen ersten Auftrag an deine Schüler*innen
                                a.btn.btn-success.text-white.button-margin(href='/articles/add_article_klasse') Ersten Auftrag erstellen
      else 
        .container.padding_null
          .row
            .col-12
              .card.border.bg-custom-1
                .card-body.padding_null
                  .tab-content.my-min-height
                    #description.tab-pane.active(role='tabpanel')
                      p.card-text
                        if length !=0
                          .col-md-8.col-8.float-left
                            h4.card-title #{user.name}s Hausarbeiten
                          .col-md-12.col-12.float-left
                           table#customerTable_Erklaerung.table.borderless(cellspacing='0', width='100%')
                            thead
                              tr               
                                th.th-sm.
                                  Symbol
                                th.th-sm
                                  |Erklärung
                            tbody
                              tr
                                td
                                  .btn.btn-outline-danger
                                    svg.bi.bi-file-richtext(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                      path(fill-rule='evenodd', d='M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z', clip-rule='evenodd')
                                      path(fill-rule='evenodd', d='M4.5 11.5A.5.5 0 015 11h3a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 9h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm1.639-3.708l1.33.886 1.854-1.855a.25.25 0 01.289-.047l1.888.974V7.5a.5.5 0 01-.5.5H5a.5.5 0 01-.5-.5V7s1.54-1.274 1.639-1.208zM6.25 5a.75.75 0 100-1.5.75.75 0 000 1.5z', clip-rule='evenodd')
                                td
                                  | Das Symbol ist rot, wenn die Hausarbeit neu ist. Klicke drauf, um sie zu machen. Danach wird das Symbol gelb.                                
                              tr
                                td
                                  .btn.btn-outline-warning
                                    svg.bi.bi-file-richtext(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                      path(fill-rule='evenodd', d='M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z', clip-rule='evenodd')
                                      path(fill-rule='evenodd', d='M4.5 11.5A.5.5 0 015 11h3a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 9h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm1.639-3.708l1.33.886 1.854-1.855a.25.25 0 01.289-.047l1.888.974V7.5a.5.5 0 01-.5.5H5a.5.5 0 01-.5-.5V7s1.54-1.274 1.639-1.208zM6.25 5a.75.75 0 100-1.5.75.75 0 000 1.5z', clip-rule='evenodd')
                                td
                                  | Das Symbol ist gelb, wenn du deine Hausarbeit abgeschickt hast, sie aber noch nicht von deiner Lehrerin/deinem Lehrer überprüft wurde. So lange dein HA-Symbol gelb ist, kannst du deine Arbeit noch korrigieren.
                              tr
                                td
                                  .btn.btn-outline-success
                                    svg.bi.bi-file-richtext(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                      path(fill-rule='evenodd', d='M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z', clip-rule='evenodd')
                                      path(fill-rule='evenodd', d='M4.5 11.5A.5.5 0 015 11h3a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 9h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm1.639-3.708l1.33.886 1.854-1.855a.25.25 0 01.289-.047l1.888.974V7.5a.5.5 0 01-.5.5H5a.5.5 0 01-.5-.5V7s1.54-1.274 1.639-1.208zM6.25 5a.75.75 0 100-1.5.75.75 0 000 1.5z', clip-rule='evenodd')
                                td                         
                                  | Das Symbol ist grün, wenn deine Lehrerin/dein Lehrer deine Arbeit korrigiert hat. Klicke auf das Symbol, um nachzusehen, wie deine Lehrkraft deine Arbeit beurteilt.                            
                          br 
                          br
                          .col-md-8.col-8.float-left
                            h4.card-title
                          .col-md-4.col-4.float-left
                            input#inputFilter.form-control.my-margin-top(type='text', placeholder='suche..')
                          table#customerTable.table.row-border.hover.table-sm.no-border(cellspacing='0', width='100%')
                            thead
                              tr               
                                th.th-sm.align-middle
                                  | Info 
                                th.th-sm.align-middle
                                  | Titel
                                th.th-sm.align-middle
                                  | HA
                            tbody
                              each my_article, i in my_articles
                                tr
                                  td.align-middle 
                                    .montainer
                                      | #{my_article.klasse} - #{my_article.fach}
                                    .montainer
                                      .left-element
                                        | #{my_article.lehrer.name}
                                  td.align-middle
                                    .montainer
                                      | #{my_article.title}
                                    .montainer
                                      | #{my_article.created}                                  
                                  td.align-middle
                                    if (user.type == 'schueler' && my_article.schueler_token == '1')
                                      a.btn.btn-outline-warning(href="/articles/edit_hausarbeit/"+my_article._id, role='button')
                                        svg.bi.bi-file-richtext(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                          path(fill-rule='evenodd', d='M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z', clip-rule='evenodd')
                                          path(fill-rule='evenodd', d='M4.5 11.5A.5.5 0 015 11h3a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 9h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm1.639-3.708l1.33.886 1.854-1.855a.25.25 0 01.289-.047l1.888.974V7.5a.5.5 0 01-.5.5H5a.5.5 0 01-.5-.5V7s1.54-1.274 1.639-1.208zM6.25 5a.75.75 0 100-1.5.75.75 0 000 1.5z', clip-rule='evenodd')                                 
                                    if (user.type == 'schueler' && my_article.schueler_token == '0')
                                      a.btn.btn-outline-danger(href="/articles/"+my_article._id, role='button')
                                        svg.bi.bi-file-richtext(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                          path(fill-rule='evenodd', d='M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z', clip-rule='evenodd')
                                          path(fill-rule='evenodd', d='M4.5 11.5A.5.5 0 015 11h3a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 9h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm1.639-3.708l1.33.886 1.854-1.855a.25.25 0 01.289-.047l1.888.974V7.5a.5.5 0 01-.5.5H5a.5.5 0 01-.5-.5V7s1.54-1.274 1.639-1.208zM6.25 5a.75.75 0 100-1.5.75.75 0 000 1.5z', clip-rule='evenodd')          
                                    if (user.type == 'schueler' && my_article.schueler_token == '2')
                                      a.btn.btn-outline-success(href="/articles/finished_hausarbeit/"+my_article._id, role='button')
                                        svg.bi.bi-file-richtext(width='1em', height='1em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                          path(fill-rule='evenodd', d='M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z', clip-rule='evenodd')
                                          path(fill-rule='evenodd', d='M4.5 11.5A.5.5 0 015 11h3a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 9h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm1.639-3.708l1.33.886 1.854-1.855a.25.25 0 01.289-.047l1.888.974V7.5a.5.5 0 01-.5.5H5a.5.5 0 01-.5-.5V7s1.54-1.274 1.639-1.208zM6.25 5a.75.75 0 100-1.5.75.75 0 000 1.5z', clip-rule='evenodd')                             
                        else 
                          h4  Es gibt noch keine Aufträge für dich. Kommt noch...:)
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js')
    script(type='text/javascript', src='https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js')   
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/index.js') 