extend layout



block content
    .container.padding_null
        .row.h-100.d-flex.justify-content-center
            .col-12
                .card.border
                    .card-header
                        ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
                            li.nav-item
                                a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') #{hausarbeit.article.klasse}  |  #{hausarbeit.article.fach}  |  #{hausarbeit.article.lehrer.name}
                    .card-body.padding_null
                        .tab-content.mt-3.my-min-height
                            #description.tab-pane.active(role='tabpanel')
                                p.card-text
                                        .col-md-12
                                            div(style='clear:both;') 
                                            h5 #{hausarbeit.article.title}
                                            div(style='clear:both;')                
                                            h7.box-right.color-red Abgabefrist: #{hausarbeit.article.termin}
                                            div(style='clear:both;')        
                                            hr
                                            br 
                                            br   
                                            h5#invisible #{hausarbeit.article.body}
                                            h6#hier-kommt-was-rein
    .container.padding_null
        .row.h-100.d-flex.justify-content-center
            .col-12
                .card.border
                    .card-header
                        ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
                            li.nav-item
                                a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') Von #{hausarbeit.schueler.name}  |  #{hausarbeit.created}
                    .card-body.padding_null
                        .tab-content.mt-3.my-min-height
                            #description.tab-pane.active(role='tabpanel')
                                p.card-text
                                    .col-md-12
                                        h5#invisible2 #{hausarbeit.body}
                                        h6#hier-kommt-was-rein2
                                        hr
                                        .card-deck
                                            .card.btn-outline-warning.border-warning
                                                .card-body.text-center
                                                    p.card-text Hilfe gehabt?
                                                    p.card-text "#{hausarbeit.reflexion_hilfe}"
                                            .card.btn-outline-danger.my-min-height.border-danger
                                                .card-body.text-center
                                                    p.card-text War es schwer?
                                                    p.card-text "#{hausarbeit.reflexion_schwer}"
                                            .card.btn-outline-success.my-min-height.border-success
                                                .card-body.text-center
                                                    p.card-text Genug Zeit gehabt?
                                                    p.card-text "#{hausarbeit.reflexion_zeit}"
                                            if  hausarbeit.reflexion_text
                                                .card.btn-outline-primary.my-min-height.border-primary
                                                    .card-body.text-center
                                                        p.card-text Kommentar:
                                                        p.card-text "#{hausarbeit.reflexion_text}"  
    .container
        .row.h-100.d-flex.justify-content-center
            .col-12.col-sm-12.col-md-12.col-lg-12
                .card.border
                    .card-header
                        ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
                            li.nav-item
                                a.nav-link.active(href='#description_x', role='tab', aria-controls='description_x', aria-selected='true') Korrektur & Beurteilung
                            li.nav-item
                                a.nav-link(href='#history_x', role='tab', aria-controls='history_x', aria-selected='false') HA zum Nachbessern zurückgeben
                    .card-body
                            .tab-content.mt-3
                                #description_x.tab-pane.active(role='tabpanel')
                                    p.card-text                        
                                        form#reused_form.montform(method='POST' action='/articles/korrektur_hausarbeit/'+hausarbeit._id)
                                            #form-transition-group.my-margin-top
                                                .form-row
                                                    input.form-control.invisible(type='text', placeholder='hausaufgabeId',  name='hausaufgabe_id', value= hausarbeit._id)
                                                .form-row
                                                    textarea#area3.form-control(name='ergebnis_text', type=text, placeholder='Kommentar zur Hausaufgabe von ' + hausarbeit.schueler.name + ' \(optional\)')
                                                .form-row.my-margin-top-big
                                                    .form-group.col-md-4 
                                                        h6  Ist die Arbeit ok?                                 
                                                        select#validationServer01.form-control.custom-select.form-control(name='ergebnis_ok', type=text,  required='', placeholder='Arbeit ok')
                                                            option(selected='') keine Auswahl
                                                            option keine Auswahl
                                                            option OK
                                                            option nicht OK
                                                        .valid-feedback                                          
                                                    .form-group.col-md-4 
                                                        h6 Weche Note verdient #{hausarbeit.schueler.name} (optional)?                                
                                                        select#validationServer01.form-control.custom-select.form-control(name='ergebnis_note', type=text,  required='', placeholder='Weche Note verdient')
                                                            option(selected='') keine Auswahl
                                                            option keine Auswahl
                                                            option E1
                                                            option E2
                                                            option E3
                                                            option E4
                                                            option G1
                                                            option G2
                                                            option G3
                                                            option G4
                                                            option G5
                                                            option G6
                                                            option 1
                                                            option 2
                                                            option 3
                                                            option 4
                                                            option 5
                                                            option 6
                                                    .form-group.col-md-4 
                                                        h6  Wie viele "PauliDollar" (Leistungspunkte)?                                
                                                        select#validationServer01.form-control.custom-select.form-control(name='ergebnis_dollar', type=text,  required='',  placeholder='Wie viele "PauliDollar')
                                                            option(selected='') keine Auswahl
                                                            option keine Auswahl
                                                            option 1
                                                            option 2
                                                            option 3
                                                            option 4
                                                            option 5
                                                br                                              
                                                input#geht_ab.btn.btn-success.my-margin-top.bg-success.text-white.float-right.my-margin-bottom(type='submit', value='Korrektur abschicken')
                                                p.my-margin-top.bold-green
                                                    | Wenn du die Korrektur abschickst, kannst du sie nicht mehr ändern.                         
                                #history_x.tab-pane(role='tabpanel', aria-labelledby='history_x-tab')
                                    p.card-text
                                        form#reused_form.montform(method='POST' action='/articles/rueckgabe_hausarbeit/'+hausarbeit._id)
                                            #form-transition-group.my-margin-top
                                                .form-row
                                                    input.form-control.invisible(type='text', placeholder='hausaufgabeId',  name='hausaufgabe_id', value= hausarbeit._id)
                                                .form-row
                                                    textarea#area3.form-control(name='nachbessern_text', type=text, placeholder='Warum soll ' + hausarbeit.schueler.name + ' ihre Arbeit nachbessern? \(optional\)')
                                                .form-row.my-margin-top
                                                    .form-group.col-md-12
                                                        h6  Warum die Arbeit nachgebessert werden soll (optional)                               
                                                        select#validationServer01.form-control.custom-select.form-control(name='nachbessern_option', type=text,  placeholder='Arbeit ok',  required='')
                                                            option(selected='')
                                                            option keine Auswahl
                                                            option Deine Arbeit hat zu viele Fehler
                                                            option Auf deinen Fotos kann man nicht genug erkennen / 
                                                            option Deine Arbeit ist nicht sorgfältig genug
                                                            option Deine Arbeit ist unvollständig oder zu kurz
                                                            option Du hast offentsichtlich abgeschrieben
                                                            option Du hast die Anweisungen nicht befolgt
                                                            option Deine Arbeit ist leer

                                                input#geht_ab.btn.btn-success.my-margin-top.bg-success.text-white.float-right.my-margin-bottom(type='submit', value='Nachbesserungsaufforderung abschicken')
                                                p.my-margin-top.bold-green
                                                    | Wenn du die Aufforderung zur Nachbesserung abschickst, kannst du sie nicht mehr ändern. 
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
            script(src='/bower_components/bootstrap/dist/js/bootstrap.js')  
            script(src='/js/log_reg.js')                                             