extend layout



block content
    .container.padding_null
        .row.h-100.d-flex.justify-content-center
            .col-12
                .card.border
                    .card-header
                        ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
                            li.nav-item
                                a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') #{hausarbeit.article.klasse}  |  #{hausarbeit.article.fach}  |  #{hausarbeit.article.lehrer.name}
                    .card-body.padding_null
                        .tab-content.mt-3.my-min-height
                            #description.tab-pane.active(role='tabpanel')
                                p.card-text
                                        .col-md-12
                                            div(style='clear:both;') 
                                            h5 #{hausarbeit.article.title}
                                            div(style='clear:both;')                
                                            h7.box-right.color-red Abgabefrist: #{hausarbeit.article.termin}
                                            div(style='clear:both;')        
                                            hr
                                            br 
                                            br   
                                            h5#invisible #{hausarbeit.article.body}
                                            h6#hier-kommt-was-rein
    .container.padding_null
        .row.h-100.d-flex.justify-content-center
            .col-12
                .card.border
                    .card-header
                        ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
                            li.nav-item
                                a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') Von #{hausarbeit.schueler.name}  |  #{hausarbeit.created}
                    .card-body.padding_null
                        .tab-content.mt-3.my-min-height
                            #description.tab-pane.active(role='tabpanel')
                                p.card-text
                                    .col-md-12
                                        if hausarbeit.nachbessern_option && hausarbeit.nachbessern_option != '---keine Auswahl---'
                                            h4.text-info Diese Arbeit musste nachgebessert werden
                                            h6.text-info Beanstandung: "#{hausarbeit.nachbessern_option} - #{hausarbeit.nachbessern_text}"
                                        br 
                                        h5#invisible2 #{hausarbeit.body}
                                        h6#hier-kommt-was-rein2
                                        if hausarbeit.uploads.length !=0
                                            .col-md-12
                                                br
                                                hr                                        
                                                h5.box-right.text-info Download
                                                div(style='clear:both;') 
                                                each upload, i in hausarbeit.uploads
                                                    a.box-right(download=upload.body, href='/articles/download/'+upload.body)
                                                        if upload.type == '1'
                                                            svg.bi.bi-file-text(width='3em', height='3em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                                                path(fill-rule='evenodd', d='M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z', clip-rule='evenodd')
                                                                path(fill-rule='evenodd', d='M4.5 10.5A.5.5 0 015 10h3a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 8h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 6h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 4h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5z', clip-rule='evenodd')
                                                        else if upload.type == '2'  
                                                            svg.bi.bi-card-image(width='3em', height='3em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                                                path(fill-rule='evenodd', d='M14.5 3h-13a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z', clip-rule='evenodd')
                                                                path(d='M10.648 7.646a.5.5 0 01.577-.093L15.002 9.5V13h-14v-1l2.646-2.354a.5.5 0 01.63-.062l2.66 1.773 3.71-3.71z')
                                                                path(fill-rule='evenodd', d='M4.502 7a1.5 1.5 0 100-3 1.5 1.5 0 000 3z', clip-rule='evenodd')
                                                        else if upload.type == '3'  
                                                            svg.bi.bi-file-spreadsheet(width='3em', height='3em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                                                path(fill-rule='evenodd', d='M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z', clip-rule='evenodd')
                                                                path(fill-rule='evenodd', d='M13 6H3V5h10v1zm0 3H3V8h10v1zm0 3H3v-1h10v1z', clip-rule='evenodd')
                                                                path(fill-rule='evenodd', d='M5 14V6h1v8H5zm4 0V6h1v8H9z', clip-rule='evenodd')
                                                        else if upload.type == '4'  
                                                            svg.bi.bi-collection-play(width='3em', height='3em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                                                                path(fill-rule='evenodd', d='M14.5 13.5h-13A.5.5 0 011 13V6a.5.5 0 01.5-.5h13a.5.5 0 01.5.5v7a.5.5 0 01-.5.5zm-13 1A1.5 1.5 0 010 13V6a1.5 1.5 0 011.5-1.5h13A1.5 1.5 0 0116 6v7a1.5 1.5 0 01-1.5 1.5h-13zM2 3a.5.5 0 00.5.5h11a.5.5 0 000-1h-11A.5.5 0 002 3zm2-2a.5.5 0 00.5.5h7a.5.5 0 000-1h-7A.5.5 0 004 1z', clip-rule='evenodd')
                                                                path(fill-rule='evenodd', d='M6.258 6.563a.5.5 0 01.507.013l4 2.5a.5.5 0 010 .848l-4 2.5A.5.5 0 016 12V7a.5.5 0 01.258-.437z', clip-rule='evenodd')
                                                div(style='clear:both;') 
                                            br                                             
                                        hr
                                        .card-deck
                                            .card.alert.alert-warning
                                                .card-body.text-center
                                                    p.card-text Hilfe gehabt?
                                                    p.card-text "#{hausarbeit.reflexion_hilfe}"
                                            .card.alert.alert-danger
                                                .card-body.text-center
                                                    p.card-text War es schwer?
                                                    p.card-text "#{hausarbeit.reflexion_schwer}"
                                            .card.alert.alert-success
                                                .card-body.text-center
                                                    p.card-text Genug Zeit gehabt?
                                                    p.card-text "#{hausarbeit.reflexion_zeit}"
                                            if  hausarbeit.reflexion_text
                                                .card.alert.alert-primary
                                                    .card-body.text-center
                                                        p.card-text Kommentar:
                                                        p.card-text "#{hausarbeit.reflexion_text}"  
    .container
        .row.h-100.d-flex.justify-content-center
            .col-12.col-sm-12.col-md-12.col-lg-12
                .card.border
                    .card-header
                        ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
                            li.nav-item
                                a.nav-link.active(href='#description_x', role='tab', aria-controls='description_x', aria-selected='true') Korrektur & Beurteilung
                            li.nav-item
                                a.nav-link(href='#history_x', role='tab', aria-controls='history_x', aria-selected='false') HA zum Nachbessern zurückgeben
                    .card-body
                            .tab-content.mt-3
                                #description_x.tab-pane.active(role='tabpanel')
                                    p.card-text                        
                                        form#reused_form.montform(method='POST' action='/articles/korrektur_hausarbeit/'+hausarbeit._id)
                                            #form-transition-group.my-margin-top
                                                .form-row
                                                    input.form-control.invisible(type='text', placeholder='hausaufgabeId',  name='hausaufgabe_id', value= hausarbeit._id)
                                                .form-row
                                                    textarea#area3.form-control(name='ergebnis_text', type=text, placeholder='Kommentar zur Hausaufgabe von ' + hausarbeit.schueler.name + ' \(optional\)')
                                                .form-row.my-margin-top-big
                                                    .form-group.col-md-4 
                                                        p.my-margin-top.bold-green Ist die Arbeit ok?                                 
                                                        select#validationServer01.form-control.custom-select.form-control(name='ergebnis_ok', type=text,  required='', placeholder='Arbeit ok')
                                                            option(selected='') keine Auswahl
                                                            option keine Auswahl
                                                            option OK
                                                            option nicht OK
                                                        .valid-feedback                                          
                                                    .form-group.col-md-4 
                                                        p.my-margin-top.bold-green Weche Note verdient #{hausarbeit.schueler.name} (optional)?                                
                                                        select#validationServer01.form-control.custom-select.form-control(name='ergebnis_note', type=text,  required='', placeholder='Weche Note verdient')
                                                            option(selected='') keine Auswahl
                                                            option keine Auswahl
                                                            option E1
                                                            option E2
                                                            option E3
                                                            option E4
                                                            option G1
                                                            option G2
                                                            option G3
                                                            option G4
                                                            option G5
                                                            option G6
                                                            option 1
                                                            option 2
                                                            option 3
                                                            option 4
                                                            option 5
                                                            option 6
                                                    .form-group.col-md-4 
                                                        p.my-margin-top.bold-green Wie viele "PauliDollar" (Leistungspunkte)?                                
                                                        select#validationServer01.form-control.custom-select.form-control(name='ergebnis_dollar', type=text,  required='',  placeholder='Wie viele "PauliDollar')
                                                            option(selected='') keine Auswahl
                                                            option keine Auswahl
                                                            option 1
                                                            option 2
                                                            option 3
                                                            option 4
                                                            option 5
                                                br                                              
                                                input#geht_ab.btn.btn-success.my-margin-top.bg-success.text-white.float-right.my-margin-bottom(type='submit', value='Korrektur abschicken')
                                                p.my-margin-top.bold-green
                                                    | Wenn du die Korrektur abschickst, kannst du sie nicht mehr ändern.                         
                                #history_x.tab-pane(role='tabpanel', aria-labelledby='history_x-tab')
                                    p.card-text
                                        form#reused_form2.montform(method='POST' action='/articles/rueckgabe_hausarbeit/'+hausarbeit._id)
                                            #form-transition-group.my-margin-top
                                                .form-row
                                                    input.form-control.invisible(type='text', placeholder='hausaufgabeId',  name='hausaufgabe_id', value= hausarbeit._id)
                                                .form-row
                                                    textarea#area3.form-control(name='nachbessern_text', type=text, placeholder='Gebe ' + hausarbeit.schueler.name + ' einen Tipp, wie die Hausarbeit nachgebessert werden kann. \(optional\)')
                                                .form-row.my-margin-top
                                                    .form-group.col-md-12
                                                        p.my-margin-top.bold-info  Warum soll die Arbeit nachgebessert werden?                               
                                                        select#validationServer01.form-control.custom-select.form-control(name='nachbessern_option', type=text,  placeholder='Arbeit ok',  required='')
                                                            option(selected='')
                                                            option Deine Arbeit hat zu viele Fehler
                                                            option Auf deinen Fotos kann man nicht genug erkennen
                                                            option Deine Arbeit ist nicht sorgfältig genug
                                                            option Deine Antworten sind unklar oder missverständlich
                                                            option Deine Arbeit ist unvollständig oder zu kurz
                                                            option Du hast offentsichtlich abgeschrieben
                                                            option Du hast die Anweisungen nicht befolgt
                                                            option Deine Arbeit ist leer
                                                            option Du hast etwas Wichtiges nicht berücksichtigt
                                                            option Der/die Lehrer/in hat eine Nachfrage
                                                input#geht_ab.btn.btn-info.my-margin-top.bg-info.text-white.float-right.my-margin-bottom(type='submit', value='Nachbesserungsaufforderung abschicken')
                                                p.my-margin-top.bold-info
                                                    | Wenn du die Aufforderung zur Nachbesserung abschickst, kannst du sie nicht mehr ändern. 
            script(src='/js/log_reg.js')                                             
            script(src='/js/nic_edit.js')
            script(src='/js/article.js')
            script(src='/js/article2.js')           

            
