extend ../layouts/layout



block content
  link(href='https://cdn.quilljs.com/1.3.6/quill.snow.css', rel='stylesheet')
  .container.padding_null
    .row.h-100.d-flex.justify-content-center
      .col-12
        .card.border
          .card-header
            ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
              li.nav-item
                a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') #{article.klasse} #{article.shadow_klasse} |  #{article.fach}  |  #{article.lehrer.name}
          .card-body.padding_null
            .tab-content.mt-3.my-min-height
              p.card-text
                .col-md-12
                  if article.schuelers
                    each schueler, i in article.schuelers
                      if i == 0
                        .box
                          a(href='/articles/schueler/' +schueler._id, role='button')  #{schueler.name}&nbsp;
                      else
                        .box
                          a(href='/articles/schueler/' +schueler._id, role='button') | #{schueler.name}&nbsp;
              #description.tab-pane.active(role='tabpanel')
                p.card-text
                  .col-md-12
                    div(style='clear:both;') 
                    h5 #{article.title}
                    div(style='clear:both;')                
                    h7.box-right.color-red Abgabefrist: #{article.termin}
                    div(style='clear:both;')       
                    br 
                    br
                    input#income.form-control.invisible(type='text', placeholder='articleId',  name='article_id', value= article.body)
                    #editor_show
                    h6#hier-kommt-was-rein
                if article.uploads.length !=0
                  .col-md-12
                    br
                    hr                                        
                    h5.box-right.text-info Download
                    div(style='clear:both;') 
                    each upload, i in article.uploads
                      a.box-right(download=upload.body, href='/articles/download/'+upload.body)
                        if upload.type == '1'
                          svg.bi.bi-file-text(width='3em', height='3em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd', d='M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z', clip-rule='evenodd')
                            path(fill-rule='evenodd', d='M4.5 10.5A.5.5 0 015 10h3a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 8h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 6h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5zm0-2A.5.5 0 015 4h6a.5.5 0 010 1H5a.5.5 0 01-.5-.5z', clip-rule='evenodd')
                        else if upload.type == '2'  
                          svg.bi.bi-card-image(width='3em', height='3em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd', d='M14.5 3h-13a.5.5 0 00-.5.5v9a.5.5 0 00.5.5h13a.5.5 0 00.5-.5v-9a.5.5 0 00-.5-.5zm-13-1A1.5 1.5 0 000 3.5v9A1.5 1.5 0 001.5 14h13a1.5 1.5 0 001.5-1.5v-9A1.5 1.5 0 0014.5 2h-13z', clip-rule='evenodd')
                            path(d='M10.648 7.646a.5.5 0 01.577-.093L15.002 9.5V13h-14v-1l2.646-2.354a.5.5 0 01.63-.062l2.66 1.773 3.71-3.71z')
                            path(fill-rule='evenodd', d='M4.502 7a1.5 1.5 0 100-3 1.5 1.5 0 000 3z', clip-rule='evenodd')
                        else if upload.type == '3'  
                          svg.bi.bi-file-spreadsheet(width='3em', height='3em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd', d='M4 1h8a2 2 0 012 2v10a2 2 0 01-2 2H4a2 2 0 01-2-2V3a2 2 0 012-2zm0 1a1 1 0 00-1 1v10a1 1 0 001 1h8a1 1 0 001-1V3a1 1 0 00-1-1H4z', clip-rule='evenodd')
                            path(fill-rule='evenodd', d='M13 6H3V5h10v1zm0 3H3V8h10v1zm0 3H3v-1h10v1z', clip-rule='evenodd')
                            path(fill-rule='evenodd', d='M5 14V6h1v8H5zm4 0V6h1v8H9z', clip-rule='evenodd')
                        else if upload.type == '4'  
                          svg.bi.bi-collection-play(width='3em', height='3em', viewBox='0 0 16 16', fill='currentColor', xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd', d='M14.5 13.5h-13A.5.5 0 011 13V6a.5.5 0 01.5-.5h13a.5.5 0 01.5.5v7a.5.5 0 01-.5.5zm-13 1A1.5 1.5 0 010 13V6a1.5 1.5 0 011.5-1.5h13A1.5 1.5 0 0116 6v7a1.5 1.5 0 01-1.5 1.5h-13zM2 3a.5.5 0 00.5.5h11a.5.5 0 000-1h-11A.5.5 0 002 3zm2-2a.5.5 0 00.5.5h7a.5.5 0 000-1h-7A.5.5 0 004 1z', clip-rule='evenodd')
                            path(fill-rule='evenodd', d='M6.258 6.563a.5.5 0 01.507.013l4 2.5a.5.5 0 010 .848l-4 2.5A.5.5 0 016 12V7a.5.5 0 01.258-.437z', clip-rule='evenodd')
                    div(style='clear:both;') 
                    br                                                 
            if user
              if user.id == article.author
                a.btn.btn-success.text-white.button-margin(href='/articles/edit/'+ article._id) bearbeiten
                a.btn.btn-danger.delete-article.text-white.button-margin(href='#', data-id=article._id) löschen
  if user
    if user.type == 'schueler' && article.termin  !== 'abgelaufen'
      .container.padding_null
        .row.h-100.d-flex.justify-content-center
          .col-12
            .card.border.border-success
              .card-header
                ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
                  li.nav-item
                    a.nav-link.active(href='#description2', role='tab', aria-controls='description2', aria-selected='true') Hausarbeit schreiben
              .card-body.padding_null
                #description2.tab-pane.active(role='tabpanel')
                  p.card-text
                    .col-md-12
                      form#reused_form.montform(method='POST', enctype='multipart/form-data' action='/articles/add_hausarbeit')
                        #form-transition-group.my-margin-top
                          .form-row
                            input.form-control.invisible(type='text', placeholder='articleId',  name='article_id', value= article._id)
                          .form-row
                            .card.border-success.col-sm-12.mb-3                                               
                              h6.card-header  Wie man ein Foto hochlädt
                              h5.card-body.text-success
                                p
                                  | 1. Klicke auf das kleine grüne, viereckige Icon im Eingabefeld. Dann sieht man ein kleines Fenster wo "durchsuchen" oder "auswählen" steht oder sowas. Da drauf klicken.
                                p
                                  | 2. Wähle auf deinem Handy oder Computer ein Foto aus (oder du machst ein Foto mit Handy).
                                p    
                                  | 3. Dann drückst du auf ok und dann lädt das Foto  --- ACHTUNG: --- Das Laden kann bei Handys etwas länger dauern, also hab Geduld bis das Bild zu sehen ist.
                            textarea#area2.form-control.is-valid(name='body', type=text, placeholder='Arbeitsauftrag')
                            .custom-file.my-margin-top
                              input#inputGroupFile02.custom-file-input(type='file' name='files', multiple='')
                              label.custom-file-label(for='inputGroupFile02') Lade hier eine Datei hoch 
                          .form-row.my-margin-top-big
                            .form-group.col-md-4 
                              label Hattest du bei der Arbeit Hilfe?                                 
                              select#validationServer01.form-control.custom-select.form-control(name='reflexion_hilfe', type=text,  required='', placeholder='Wähle eine Klasse')
                                option(selected='')
                                option Ja, habe im Internet Hilfe gefunden
                                option Ja, von der Familie/ von Freunden
                                option Nein, alles alleine gemacht
                              .valid-feedback                                          
                            .form-group.col-md-4 
                              label War es schwer?                                
                              select#validationServer01.form-control.custom-select.form-control(name='reflexion_schwer', type=text,  required='', placeholder='Wähle eine Klasse')
                                option(selected='')
                                option Nein, zu leicht
                                option Genau richtig
                                option Etwas zu schwer
                                option Viel zu schwer                                                            
                            .form-group.col-md-4 
                              label Hattest du genug Zeit?                                
                              select#validationServer01.form-control.custom-select.form-control(name='reflexion_zeit', type=text,  required='', placeholder='Wähle eine Klasse')
                                option(selected='')
                                option Ja
                                option Musste, mich schon ziemlich beeilen
                                option Nein, zu wenig Zeit
                          .form-row
                            .form-group.col-md-12
                              input#validationServer01.form-control(type='text', placeholder='Das möchte ich der Lehrkraft noch sagen' name='reflexion_text')                                              
                          input#geht_ab.btn.btn-success.my-margin-top.bg-success.text-white.float-right.my-margin-bottom(type='submit', value='Hausarbeit abgeben')
                          p.my-margin-top.bold-green
                            | Solange deine Arbeit noch nicht überprüft wurde, kannst du sie noch ändern.
      script(src='/js/article2.js')
  script(src='/js/nic_edit.js')
  script(type='text/javascript').
    bkLib.onDomLoaded(nicEditors.allTextAreas) 
    new nicEditor({buttonList : ['bold','italic','underline','left','center','right','justify','ol','ul','superscript','upload','fontFormat','fontFamily','upload','','','','','','','','','','','','','']}).panelInstance('area2');
  script(src='https://cdn.quilljs.com/1.3.6/quill.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='/js/article.js')
  script.
    var jeks = document.getElementById("income").value;
    var quill = new Quill('#editor_show', {
      modules: {
        "toolbar": false
      },
      theme: 'snow',
      readOnly: true,
    });
    //console.log(jeks);
   

   $(document).ready(function () {
      if(document.getElementById("income")!=null){
        //alert(x)

    try {
      //alert('#{article.lehrer.name}')
        var geparst = JSON.parse(jeks)
        quill.setContents(geparst);
    } catch (e) {
           console.log('AA ' +e.message)

    
        console.log('alt');
        var k = document.getElementById("hier-kommt-was-rein")
        k.innerHTML += jeks;


      

      

    }
    console.log('fertig');
    }
    });


