extend ../layouts/layout



block content
    link(href='https://cdn.quilljs.com/1.3.6/quill.snow.css', rel='stylesheet')
    .container.padding_null
        .row.h-100.d-flex.justify-content-center
            .col-12
                .card.border
                    .card-header
                        ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
                            li.nav-item
                                if hausarbeit.article.klasse
                                    a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') #{hausarbeit.article.klasse} | #{hausarbeit.article.fach} | #{hausarbeit.article.created}
                                if hausarbeit.article.stamm
                                    a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') #{hausarbeit.article.stamm.name} | #{hausarbeit.article.disziplin.name} | #{hausarbeit.article.created}
                                if hausarbeit.article.stammverbund
                                    a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') #{hausarbeit.article.stammverbund.name} | #{hausarbeit.article.disziplin.name} | #{hausarbeit.article.created}
                                if hausarbeit.article.schuelers.length !==0
                                    if hausarbeit.article.disziplin
                                        a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') Sonderaufgabe |  #{hausarbeit.article.disziplin.name} | #{hausarbeit.article.created}
                                    else
                                        a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') Sonderaufgabe |  #{hausarbeit.article.fach} | #{hausarbeit.article.created} 
                    .card-body.padding_null
                        .tab-content.mt-3.my-min-height
                            #description.tab-pane.active(role='tabpanel')
                                p.card-text
                                    .col-md-12
                                        div(style='clear:both;') 
                                        h5 #{hausarbeit.article.title}
                                        div(style='clear:both;')                
                                        h7.box-right.color-red #{hausarbeit.article.termin}
                                        div(style='clear:both;')        
                                        hr
                                        br 
                                        input#hack_50.form-control.invisible(type='text',    value= hack_50)
                                        input#hack_100.form-control.invisible(type='text',  value= hack_100)
                                        input#hack_150.form-control.invisible(type='text',  value= hack_150)
                                        input#hack_200.form-control.invisible(type='text',  value= hack_200)
                                        input#hack_250.form-control.invisible(type='text',  value= hack_250)
                                        input#hack_300.form-control.invisible(type='text',  value= hack_300)
                                        input#hack_350.form-control.invisible(type='text',  value= hack_350)
                                        input#hack_400.form-control.invisible(type='text',  value= hack_400)
                                        input#hack_450.form-control.invisible(type='text',  value= hack_450)
                                        input#hack_500.form-control.invisible(type='text',  value= hack_500)
                                        input#hack_550.form-control.invisible(type='text',  value= hack_550)
                                        input#hack_600.form-control.invisible(type='text',  value= hack_600)
                                        input#hack_650.form-control.invisible(type='text',  value= hack_650)
                                        input#hack_700.form-control.invisible(type='text',  value= hack_700)
                                        input#hack_750.form-control.invisible(type='text',  value= hack_750)
                                        input#hack_800.form-control.invisible(type='text',  value= hack_800)
                                        input#hack_850.form-control.invisible(type='text',  value= hack_850)
                                        input#hack_900.form-control.invisible(type='text',  value= hack_900)
                                        input#hack_950.form-control.invisible(type='text',  value= hack_950)
                                        input#hack_1000.form-control.invisible(type='text', value= hack_1000)
                                        br                                       
                                        input#income.form-control.invisible(type='text', placeholder='articleId',  name='article_id', value= hausarbeit.article.body)
                                        #editor_show
                                        h6#hier-kommt-was-rein
    if user.type == 'schueler'
        .container.padding_null
            .row.h-100.d-flex.justify-content-center
                .col-12
                    .card.border
                        .card-header
                            ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
                                li.nav-item
                                    if hausarbeit.status !== '3'
                                        a.nav-link.active(href='#description2', role='tab', aria-controls='description2', aria-selected='true') Hausarbeit ändern
                                    if hausarbeit.status === '3'
                                        a.nav-link.active(href='#description2', role='tab', aria-controls='description2', aria-selected='true') Zurückgeschickte Hausarbeit verbessern
                        .card-body.padding_null
                            .tab-content.mt-3
                                #description2.tab-pane.active(role='tabpanel')
                                    p.card-text
                                        .col-md-12
                                            form#reused_form.montform(method='POST', action='/articles/edit_hausarbeit/' + hausarbeit._id , enctype='multipart/form-data')
                                                #form-transition-group.my-margin-top
                                                    br 
                                                    .form-row
                                                        input.form-control.invisible(type='text', placeholder='articleId',  name='article_id', value= hausarbeit.article._id)
                                                    .form-row
                                                        if hausarbeit.status == '3'
                                                            .card.border-info.col-sm-12   
                                                                if  hausarbeit.nachbessern_option != '---keine Auswahl---'                                                
                                                                    h6.card-header  Die Lehrkraft hat dir deine Arbeit zurückgeschickt: #{hausarbeit.nachbessern_option} 
                                                                    h5.card-body.text-info
                                                                        .card-text
                                                                        | #{hausarbeit.nachbessern_text}
                                                    br 
                                                    .form-row
                                                        textarea#area2.form-control.is-valid(name='body', type=text, placeholder='Arbeitsauftrag')=hausarbeit.body
                                                    .form-row.my-margin-top
                                                        .form-group.col-md-8 
                                                            input#inputGroupFile02.custom-file-input(type='file' name='files', multiple='')
                                                            label.custom-file-label(for='inputGroupFile02') Neue Dateien hochladen         
                                                        .form-group.col-md-4 
                                                            .col-12(style='margin-left:10px;')
                                                                input.form-check-input(type='checkbox', value='ok', name='delete')
                                                                | vorherige Dateien löschen?                                                        
                                                    .form-row.my-margin-top
                                                        .form-group.col-md-4 
                                                            label Hattest du bei der Arbeit Hilfe?                                 
                                                            select#validationServer01.form-control.custom-select.form-control(name='reflexion_hilfe', type=text,  required='', placeholder='Wähle eine Klasse')
                                                                option(selected='') #{hausarbeit.reflexion_hilfe}
                                                                option Ja, habe im Internet Hilfe gefunden
                                                                option Ja, von der Familie/ von Freunden
                                                                option Nein, alles alleine gemacht
                                                            .valid-feedback                                          
                                                        .form-group.col-md-4 
                                                            label War es schwer?                                
                                                            select#validationServer01.form-control.custom-select.form-control(name='reflexion_schwer', type=text,  required='', placeholder='Wähle eine Klasse')
                                                                option(selected='') #{hausarbeit.reflexion_schwer}
                                                                option Nein, zu leicht
                                                                option Genau richtig
                                                                option Etwas zu schwer
                                                                option Viel zu schwer                                                            
                                                        .form-group.col-md-4 
                                                            label Hattest du genug Zeit?                                
                                                            select#validationServer01.form-control.custom-select.form-control(name='reflexion_zeit', type=text,  required='', placeholder='Wähle eine Klasse')
                                                                option(selected='') #{hausarbeit.reflexion_zeit}
                                                                option Ja
                                                                option Musste, mich schon ziemlich beeilen
                                                                option Nein, zu wenig Zeit
                                                    .form-row
                                                        .form-group.col-md-12
                                                            input#validationServer01.form-control(type='text', placeholder='Das möchte ich der Lehrkraft noch sagen' name='reflexion_text' , value=hausarbeit.reflexion_text)                                               
                                                    if hausarbeit.status !== '3'                                                   
                                                        input#geht_ab.btn.btn-warning.my-margin-top.bg-warning.text-white.float-right.my-margin-bottom(type='submit', value='Hausarbeit abgeben')
                                                    if hausarbeit.status == '3'
                                                        input#geht_ab.btn.btn-info.my-margin-top.bg-info.text-white.float-right.my-margin-bottom(type='submit', value='Hausarbeit nochmal abgeben')

            script(src='/js/article2.js')
    script(src='/js/nic_edit.js')
    script(type='text/javascript').
        bkLib.onDomLoaded(nicEditors.allTextAreas) 
        new nicEditor({buttonList : ['bold','italic','underline','left','center','right','justify','ol','ul','superscript','upload','fontFormat','fontFamily','upload','','','','','','','','','','','','','']}).panelInstance('area2');
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/article.js')
    script(src='https://cdn.quilljs.com/1.3.6/quill.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script.
        $(document).ready(function () {
        if(document.getElementById("income")!=null){
        

        var jeks = document.getElementById("income").value;
            var quill = new Quill('#editor_show', {
            modules: {
                "toolbar": false
            },
            theme: 'snow',
            readOnly: true,
            });
            console.log('income NOT NULL');



            if('{"ops":' === jeks.substring(0, 7)){//erkennt ob der artikel neu ist
                    console.log('neu');



        try {
            //alert('#{article.lehrer.name}')
            var geparst = JSON.parse(jeks)
            quill.setContents(geparst);
            console.log('perfekt neu ' )
        } catch (e) {

            var hack_50 = document.getElementById("hack_50").value
            var hack_100 = document.getElementById("hack_100").value
            var hack_150 = document.getElementById("hack_150").value
            var hack_200 = document.getElementById("hack_200").value
            var hack_250 = document.getElementById("hack_250").value
            var hack_300 = document.getElementById("hack_300").value
            var hack_350 = document.getElementById("hack_350").value
            var hack_400 = document.getElementById("hack_400").value
            var hack_450 = document.getElementById("hack_450").value
            var hack_500 = document.getElementById("hack_500").value
            var hack_550 = document.getElementById("hack_550").value
            var hack_600 = document.getElementById("hack_600").value
            var hack_650 = document.getElementById("hack_650").value
            var hack_700 = document.getElementById("hack_700").value
            var hack_750 = document.getElementById("hack_750").value
            var hack_800 = document.getElementById("hack_800").value
            var hack_850 = document.getElementById("hack_850").value
            var hack_900 = document.getElementById("hack_900").value
            var hack_950 = document.getElementById("hack_950").value
            var hack_1000 = document.getElementById("hack_1000").value

            var complete = hack_50.concat(hack_100, hack_150, hack_200, hack_250, hack_300,hack_350, hack_400 , hack_450, hack_500, hack_550, hack_600, hack_650, hack_700, hack_750, hack_800, hack_850, hack_900, hack_950, hack_1000);
            var geparst = JSON.parse(complete)
            quill.setContents(geparst);
            console.log('fast neu ' )

            }

            }else{
                
            console.log('alt und ok');
            var k = document.getElementById("hier-kommt-was-rein")
            k.innerHTML += jeks
                
            }


        }else{
            console.log('income NULL');
        }
        });