extend ../layouts/layout



block content
    link(href='https://cdn.quilljs.com/1.3.6/quill.snow.css', rel='stylesheet')
    .container.padding_null
        .row.h-100.d-flex.justify-content-center
            .col-12
                .card.border
                    .card-header
                        ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
                            li.nav-item
                                if hausarbeit.article.klasse
                                    a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') #{hausarbeit.article.klasse} | #{hausarbeit.article.fach} | #{hausarbeit.article.created}
                                if hausarbeit.article.stamm
                                    a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') #{hausarbeit.article.stamm.name} | #{hausarbeit.article.disziplin.name} | #{hausarbeit.article.created}
                                if hausarbeit.article.stammverbund
                                    a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') #{hausarbeit.article.stammverbund.name} | #{hausarbeit.article.disziplin.name} | #{hausarbeit.article.created}
                                if hausarbeit.article.schuelers.length !==0
                                    a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') Sonderaufgabe |  #{hausarbeit.article.disziplin.name} | #{hausarbeit.article.created}
                    .card-body.padding_null
                        .tab-content.mt-3.my-min-height
                            #description.tab-pane.active(role='tabpanel')
                                p.card-text
                                    .col-md-12
                                        div(style='clear:both;') 
                                        h5 #{hausarbeit.article.title}
                                        div(style='clear:both;')                
                                        h7.box-right.color-red Abgabefrist: #{hausarbeit.article.termin}
                                        div(style='clear:both;')        
                                        hr
                                        br 
                                        br
                                        input#income.form-control.invisible(type='text', placeholder='articleId',  name='article_id', value= hausarbeit.article.body)
                                        #editor_show
    .container.padding_null
        .row.h-100.d-flex.justify-content-center
            .col-12
                .card.border
                    .card-header
                        ul#bologna-list.nav.nav-tabs.card-header-tabs(role='tablist')
                            li.nav-item
                                a.nav-link.active(href='#description', role='tab', aria-controls='description', aria-selected='true') Von #{hausarbeit.schueler.name}  |  #{hausarbeit.created}
                    .card-body.padding_null
                        .tab-content.mt-3.my-min-height
                            #description.tab-pane.active(role='tabpanel')
                                p.card-text
                                    .col-md-12
                                        h5#invisible2 #{hausarbeit.body}
                                        h6#hier-kommt-was-rein2
                                        hr
                                        .card-deck
                                            .card.alert.alert-warning
                                                .card-body.text-center
                                                    p.card-text Hilfe gehabt?
                                                    p.card-text "#{hausarbeit.reflexion_hilfe}"
                                            .card.alert.alert-danger
                                                .card-body.text-center
                                                    p.card-text War es schwer?
                                                    p.card-text "#{hausarbeit.reflexion_schwer}"
                                            .card.alert.alert-success
                                                .card-body.text-center
                                                    p.card-text Genug Zeit gehabt?
                                                    p.card-text "#{hausarbeit.reflexion_zeit}"
                                            if  hausarbeit.reflexion_text
                                                .card.alert.alert-primary
                                                    .card-body.text-center
                                                        p.card-text Kommentar:
                                                        p.card-text "#{hausarbeit.reflexion_text}"                                    
    if user.type == 'schueler' || user.type == 'lehrer'
        .container.padding_null
            .row.h-100.d-flex.justify-content-center
                .col-12
                    .card.border
                        .card-body
                            h5.card-text Deine Hausarbeit wurde 端berpr端ft
                            .card.bg-primary.text-white.my-margin-bottom-big.my-min-height
                                .card-body.text-center
                                    p.card-text Lehrerkommentar
                                    if hausarbeit.ergebnis_text != ''
                                        p.card-text.norm2 "#{hausarbeit.ergebnis_text}"
                                    else
                                        p.card-text.kursiv (Die Lehrkraft hat keinen Kommentar zu deiner Hausarbeit geschrieben.)
                            .card-deck
                                .card.bg-warning.my-min-height
                                    .card-body.text-center
                                        p.card-text Arbeit ok?
                                        if hausarbeit.ergebnis_ok != 'keine Auswahl'
                                            p.card-text.norm #{hausarbeit.ergebnis_ok}
                                        else
                                            p.card-text.kursiv (Es wurde kein "ok" oder "nicht ok" f端r deine Hausarbeit gegeben)
                                .card.bg-danger.text-white.my-min-height
                                    .card-body.text-center
                                        p.card-text Note
                                        if hausarbeit.ergebnis_note != 'keine Auswahl'
                                            p.card-text.norm #{hausarbeit.ergebnis_note}
                                        else
                                            p.card-text.kursiv (Es wurde keine Note f端r deine Hausarbeit gegeben)
                                if hausarbeit.ergebnis_dollar != 'keine Auswahl'
                                    .card.bg-success.text-white.my-min-height
                                        .card-body.text-center
                                            p.card-text PauliDollar
                                            if hausarbeit.ergebnis_dollar != 'keine Auswahl'
                                                p.card-text.norm #{hausarbeit.ergebnis_dollar}$
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/js/article.js')
    script(src='https://cdn.quilljs.com/1.3.6/quill.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script.
        var jeks = document.getElementById("income").value;
        var quill = new Quill('#editor_show', {
            modules: {
                "toolbar": false
            },
            theme: 'snow',
            readOnly: true,
        });
        //console.log(jeks);
        var geparst = JSON.parse(jeks)
        quill.setContents(geparst);  